venvDrone/
__pycache__/
claves_Engine/
claves_Drone/
keys_Engine/
keys_Drone/
log/
login_para_Drones/
drone_credentials.json
cert/certificate_engine.crt
cert/certificate_registry.crt
cert/private_key_engine.pem
cert/private_key_registry.pem
